<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<!--<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">-->
			<i class="glyphicon glyphicon-eye-open" data-ng-hide="authentication.user"></i>
			<img class="user-icon" src="{{authentication.user.providerData.avatar_url}}" data-ng-show="authentication.user"></img>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				What repos are you following?
			</p>
		</div>
		<div class="row">
			<p>
				<form ng-submit="getWatching(githubUsername)">
				<input type="text" class="text-center" placeholder="GitHub username"
					   ng-model="githubUsername" ng-submit="getWatching(githubUsername)" data-ng-hide="authentication.user"></input>
				</form>
			</p>
		</div>
		<div ng-show="githubUsername | authentication.user" class="row">
			<p>
				<a class="btn btn-success" ng-click="getWatching(githubUsername || authentication.user.providerData.login)">Get {{githubUsername || authentication.user.providerData.login }}!</a>
			</p>
		</div>
	</div>
	<div class="row text-center">
		//href="{{name.html_url}}" target="_blank"
		<a class="text-white" data-ng-click="stopWatching()"  ng-repeat="name in result">
			<div class="repo-panel col-md-3 center-block" ng-click="stopWatching({{name.name}})">
				{{name.name}} <i class="glyphicon glyphicon-remove" data-ng-click="stopWatching()"></i>
			</div>
		</a>
	</div>
</section>
